.item-inner {
  border-bottom: 0 !important;
}
.task-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.remove-button {
  background-color: red;
  color: white;
  padding: 15px 0;
  width: 100%;
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.no-data-message {
  text-align: center;
  margin-top: 200px;
}
