<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="tasks.length > 0">
      <button class="remove-button" (click)='removeSelectedTasks()'>Remover selecionadas</button>
      <button class="remove-button" (click)='removeAllTasks()'>Remover todas</button>
    </div>
    <div *ngFor="let task of tasks">
      <div class="task-card">
        <ion-item>
          <ion-label>{{ task.name }}</ion-label>
          <ion-label>{{ task.date }}</ion-label>
          <ion-checkbox [(ngModel)]="task.isSelected"></ion-checkbox>
        </ion-item>
      </div>
    </div>
    <h2 *ngIf="tasks.length === 0" class="no-data-message">Nenhuma tarefa adicionada</h2>
  </ion-list>
</ion-content>
