.tasks-container {
  margin-top: 15px;
}
.form-container {
  p {
    margin: 15px 0 5px 0;
  }
  input {
    width: 100%;
    font-size: 1.5em;
  }
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
}
.add-button {
  background-color: #66bb6a;
  color: white;
  padding: 5px 15px;
  margin-top: 15px;
  border-radius: 3px;
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container:first-child {
  margin-right: 15px;
}


.item-inner {
  border-bottom: 0 !important;
}
.task-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.remove-button {
  background-color: red;
  color: white;
  padding: 15px 0;
  width: 40%;
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.no-data-message {
  text-align: center;
  margin: 100px 0;
}

.tasks-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);  
  padding-top: 15px;
}
